@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

/* basic */
.inner{width: 100%; max-width: 1850px; margin: 0 auto; position: relative;}

@media all and (max-width:1850px) {
    .inner{width:93.75%;}
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.document_section{
    width: 100%;
    max-width: 1450px;
    aspect-ratio: 1/.6;
}
/* header */
#header{
    width: 100%;
    height: 24px;
    line-height: 23px;
    background: var(--Main);
    border-radius: 16px 16px 0 0;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}
#header .logo{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .025em;
    color: #FFF;
}
#header .gnb{
    position: absolute;
    right: 0;
    bottom: 0;
}
#header .gnb ul{
    display: flex;
}
#header .gnb li a{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .025em;
    display: block;
    width: 180px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid var(--Main);
    background: #fff;
    border-radius: 45px 8px 0 0;
    position: relative; 
    transition: all .3s;
    border-bottom: 0;
    color: var(--Main);
}

#header .gnb li a::first-letter{
    text-transform: uppercase;
}




/*------------------------------ .document_content --------------------------------------*/
.document_content{
    border: 1px solid var(--Main);
    border-top: 0;
    width: 100%;
    height: calc(100% - 24px);
    box-sizing: border-box;
    border-radius: 0 0 6px 6px;
}
.document_content .info_list{
     font-size: 14px;
    font-weight: 400;
    letter-spacing: .025em;
}
.document_content .info_list li + li{
    margin-top: 6px;
}
/*------------------------------ swich_btn --------------------------------------*/
.swich_btn{
    display: inline-block;
    width: 42px;
    height: 20px;
    position: relative;
}
.swich_btn input{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    appearance: none;
}
.swich_btn span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fe0000;
    border-radius: 80px;
    transition: 0.5s;
    box-shadow: 0 5px 10px #fe000066;
}
.swich_btn input:checked ~ span{
    background-color: #05de05;
    box-shadow: 0 5px 10px #05de0566;
}
.swich_btn span i{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    aspect-ratio: 1/1;
    background-color: #FFF;
    transition: 0.5s;
    border-radius: 50%;
}
.swich_btn input:checked ~ span i{
    left: 24px;
}
.swich_btn input ~ span i::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    top: 5px;
    left: 2px;
    border-radius: 50%;
    background: #fe0000;
    box-shadow: 8px 0 0 #fe0000;
    transition: 0.5s;
}
.swich_btn input:checked ~ span i::before{

    background: #05de05;
    box-shadow: 8px 0 0 #05de05;
}

.swich_btn input ~ span i::after{
    content: '';
    position: absolute;
    bottom: 3px;
    left: calc(50%);
    transform: translateX(-50%);
    width: 8px;
    height: 2px;
    border-radius: 6px;
    background: #fe0000;
    transition: 0.5s;
}
.swich_btn input:checked ~ span i::after{
    background: #05de05;
    border-radius: 0;
    height: 3px;
    border-bottom: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
} 

/* test */

.content{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
}
.content .inner_con{
    height: 200vh;
}
.content.top{
    height: calc(100vh - 200px);
    overflow-y: auto;
}
.content.bot{
    height: calc(200px);
}
.dialog{
    height: calc(100vh - 200px);
    background: #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
.dialog.on{
    display: block;
}